*/*.xcodeproj/project.xcworkspace/
*/*.xcodeproj/xcuserdata/

Qt/*-build-desktop*/
Qt/Project/*.pro.user*

android/source/.settings/
android/source/bin/
android/source/gen/
android/source/libs/
android/source/obj/
android/workspace/

windows*/*.opensdf
windows*/*.sdf
windows*/*.suo
windows*/Bin
Windows*/ipch
Windows*/*/obj
Windows*/*/*.user
Windows*/*/PerfLogs